<div>
  <img {{bind-attr src=product.image alt=product.name}}><br />
  <h3>{{product.name}}</h3><br />
  {{product.category}}<br />
  <h3><div class="productPrice">£{{product.price}}</div></h3><br />
</div>
