body {
  background-color: grey;
}

.itemContainer {
  position: relative;
  height: 35em;
  margin: 0.5em 0;
  background-color: white;
  border: 0.5em solid grey;
}

img {
  /*height: 14em;*/
  width: 100%;
}

.buyButton, .soldOutButton {
  position: absolute;
  width: 40%;
  bottom: 1em;
}
