<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <h3>{{link-to "Welcome to EmberShop" "products" class="title" id="title"}}</h3>

    <h3><span class="navbar-right cartButton glyphicon glyphicon-shopping-cart"> Cart</span></h3>

    </div>
  </div>
</nav>
