<nav class="navbar navbar-default navbar-fixed-top">

    <h3>
      {{link-to "EmberShop" "products" class="title"}}
      <span class="navbar-right glyphicon glyphicon-shopping-cart cartButton"> Cart</span>
    </h3>

</nav>
