<nav class="navbar navbar-default">
  <div class="container-fluid">

    {{link-to "Welcome to EmberShop" "products" class="" id="title"}}

    <div class="navbar-right cartButton glyphicon glyphicon-shopping-cart">Cart</div>

  </div>
</nav>
