<div class="container-fluid">
  <div class="row">

    {{#each product in model}}
      <div class="itemContainer col-lg-3 col-md-4 col-sm-6 col-xs-12">
        {{product-item product=product}}
      </div>
    {{/each}}

  </div>
</div>
